<section class="main-menu">
  <div class="index-title">
      <h1>{{title}}</h1>
      {{#if user}}
      <h1>Welcome {{user.username}}</h1>
      {{/if}}
  </div>
  {{#if user}}
  <div id="map"></div>
  {{/if}}
</section>
<script>
    window.games = {{{ gameStr }}};
    window.user = {{{ userStr }}};
</script>
<script src="/javascripts/listMap.js"></script>
