<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRIT2iw6rPE6wpIGJK2jfCsKYmMcEXfUc"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="/javascripts/createinfo.js"></script>
  <script src="/javascripts/geolocalize.js"></script>
  <script src="/javascripts/addGraph.js"></script>


</head>
<body>
  <header>
    <section id="bar">

    <button class="btn btn-danger">
      <a href='/'>HOME</a>
    </button>
    {{#if user}}
    <button class="btn btn-danger">
      <a href='/player/myprofile'>MY PROFILE</a>
    </button>
    <button class="btn btn-danger">
      <a href='/player/mylist'>MY GAMES</a>
    </button>
    <button class="btn btn-danger">
      <a href='/auth/logout'>LOG OUT</a>
    </button>
    <button class="btn btn-danger">
      <a href="/game/list">ALL GAMES</a>
    </button>
    <button class="btn btn-danger">
      <a href='/player/list'>ALL PLAYERS</a>
    </button>
    {{#if user.isHost}}
    <button class="btn btn-danger">
      <a href="/game/new">CREATE GAME</a>
    </button>
    <button class="btn btn-danger">
      <a href='/game/hostlist'>MY GAMES AS HOST</a>
    </button>
    {{else}}
    <form action="/" method="post">
      <input class="btn btn-warning" type="submit" name="" value="BECOME A HOST">
    </form>
    {{/if}}
    {{else}}
    <button class="btn btn-danger">
      <a href='/auth/signup'>SIGN UP</a>
    </button>
    <button class="btn btn-danger">
      <a href='/auth/login'>LOG IN</a>
    </button>
    {{/if}}
    </section>
  </header>
  {{{body}}}
  <footer>

    <h4>Raúl Guía & David Sirit. </h4>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/addGraph.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>