<section class="main-menu">
  <h1>PLAYERS</h1>

  <div id="usersdiv">
    {{#each players}}
    <div id="usersdiv">
      <h3>{{this.username}}</h3>
      <button class="btn btn-info btn-s">
        <a href="/player/myprofile/{{this._id}}">VIEW DETAILS</a>
      </button>
      <button class="btn btn-info btn-s">
        <a href="/review/{{this._id}}">REVIEW</a>
      </button>
    </div>
    {{/each}}
  </div>

</section>