body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(255, 255, 255);
}

#map {
  height:800px;
}

#myChart {
  border: 1px solid blue; 

.mainTitle {
  font-weight: bolder;

  a {
    color: rgb(78, 2, 2);
    text-decoration: none;
  }
}
