html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font: 15px;
  font-family: 'Signika', sans-serif;
  background: url("https://res.cloudinary.com/dvd0xwpmc/image/upload/v1538084064/img/back.jpg");
  background-size: cover;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  color: #ffffff; }

header {
  background-color: #2D354C;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.thelogo {
  height: 100px;
  width: 100px; }

.thelogo img {
  max-width: 100%;
  height: auto; }

.menu {
  margin-left: 30px;
  margin-right: 30px; }

.menu-list {
  display: flex;
  padding-left: 0; }

.menu-list li {
  padding: 15px;
  list-style-type: none;
  display: flex; }
  .menu-list li div {
    color: #eef10b;
    font-size: 20px;
    display: inline-block;
    padding-right: 50px;
    font-weight: 700; }
  .menu-list li #hosting {
    color: #eef10b; }

.menu-list a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none; }

footer {
  background-color: #2D354C;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; }
  footer h4 {
    color: #817b7b; }

.index-title {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  display: inline-block; }
  .index-title h1 {
    color: white;
    font-size: 32px; }

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; }

#map {
  width: 90%;
  height: 600px;
  border-radius: 1%; }

.mainTitle {
  font-weight: bolder; }
  .mainTitle a {
    color: #4e0202;
    text-decoration: none; }

#games-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-around; }
  #games-list .game-in-list {
    border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-top: 10px;
    background: #2D354C; }
    #games-list .game-in-list img {
      width: 90%;
      height: 250px;
      margin: 5% 5%;
      border-radius: 5%; }
    #games-list .game-in-list .btn {
      width: 90%;
      margin: 0 auto; }
    #games-list .game-in-list p {
      font-size: 20px; }

#gameDetail {
  width: 80%;
  background: #2D354C;
  margin: 2% auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px; }
  #gameDetail .buttons-game {
    display: flex;
    justify-content: start;
    flex-direction: column; }
    #gameDetail .buttons-game div {
      display: inline-block;
      padding-left: 10px; }
  #gameDetail h4 {
    font-size: 20px; }
  #gameDetail img {
    margin-bottom: 20px;
    width: 900px;
    height: 550px;
    border-radius: 5%; }
  #gameDetail .player {
    display: flex;
    margin-bottom: 15px;
    padding-left: 10px; }
    #gameDetail .player h4 {
      display: inline-block;
      margin-right: 30px; }
    #gameDetail .player a {
      margin-top: 5px;
      padding-left: 30px;
      text-decoration: none;
      color: #ffffff; }

.playerslist {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 50px; }
  .playerslist #usersdiv {
    background: #2D354C;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 3%; }
    .playerslist #usersdiv img {
      width: 155px;
      height: 130px;
      padding: 5px; }
    .playerslist #usersdiv h2 {
      display: inline-block;
      padding-left: 20px;
      padding-right: 80px;
      padding-bottom: 16px; }
    .playerslist #usersdiv a {
      padding-right: 25px;
      text-decoration: none;
      color: #ffffff; }

.profile {
  width: 80%;
  background: #2D354C;
  margin: 10px auto;
  display: flex;
  margin-bottom: 50px; }
  .profile .prof-elem1 {
    display: inline-block;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .profile .prof-elem1 img {
      width: 100%; }
    .profile .prof-elem1 h2 {
      display: inline-block; }
    .profile .prof-elem1 .btn {
      width: 25%;
      margin-top: 10px; }
    .profile .prof-elem1 p {
      font-size: 20px; }
  .profile .prof-elem2 {
    display: inline-block;
    width: 66%;
    padding: 10px;
    display: flex;
    justify-content: center; }
    .profile .prof-elem2 .chart {
      display: inline-block;
      width: 80%;
      height: 55%;
      margin-top: 10px auto;
      background: #ffffff;
      border-radius: 5%; }

.form {
  width: 80%;
  background: #2D354C;
  margin: 10px auto;
  margin-bottom: 50px;
  padding: 30px; }
  .form h1 {
    display: inline-block; }
  .form a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none; }

a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none; }

img {
  border-radius: 5%; }

.animation {
  margin-top: 14%; }

/*ANIMATION  /////////////////////////////////////////////////////             */
.logo {
  width: 120px;
  height: 120px; }

.logo-2:hover,
.logo-4:hover {
  fill: red; }

.logo-3,
.logo-1 {
  fill: red;
  animation: doRotate 2s infinite linear;
  transform-origin: center center; }

.logo-4,
.logo-2 {
  stroke: red;
  stroke-width: 1.5;
  animation: moveLogos 2s linear infinite; }

.logo-3:hover,
.logo-1:hover {
  fill: black; }

svg {
  width: 0px;
  height: 0px; }

@keyframes doRotate {
  to {
    transform: rotate(360deg); } }

@keyframes moveLogos {
  to {
    transform: rotate(-360deg);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */