<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRIT2iw6rPE6wpIGJK2jfCsKYmMcEXfUc"></script>
  <script src="/javascripts/geolocalize.js"></script>
</head>
<body>
<header>
      <h1> <a href="/"> {{title}} </a> </h1>
    </header>

    {{{body}}}
    <footer>

      <p> Made with &hearts; by Raúl Guía and David Sirit. </p>
    </footer>

  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>