<section id="new-game" class="secform">

<h1>NEW GAME</h1>

<form action="/game/new" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="desc-input">Description</label>
    <input type="text" name="description" placeholder="Describe your game" class="form-control">
  </div>

  <div class="form-group">
    <label for="date-input">Date</label>
    <input type="date" id="mydate" name="date" placeholder="DD MM YYYY" class="form-control">
  </div>
  <div class="form-group">
    <label for="time-input">Time</label>
    <select name="time" class="form-control">
      <option value="16:00" selected>16:00</option>
      <option value="16:30">18:00</option>
      <option value="17:00">17:00</option>
      <option value="17:30">17:30</option>
      <option value="18:00">18:00</option>
      <option value="18:30">18:30</option>
      <option value="19:00">19:00</option>
      <option value="19:30">19:30</option>
      <option value="20:00">20:00</option>
      <option value="20:30">20:30</option>
      <option value="21:00">21:00</option>
      <option value="21:30">21:30</option>
      <option value="22:00">22:00</option>
      <option value="22:30">22:30</option>
      <option value="23:00">23:00</option>
      <option value="23:30">23:30</option>
      <option value="00:00">00:00</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="level-input">Level</label>
    <select name="level" class="form-control">
      <option value=1 selected>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="players-input">Number of players</label>
    <select name="playersNum" class="form-control">
      <option value=4 selected>4</option>
      <option value=5>5</option>
      <option value=3>6</option>
    </select>
  </div>

  <div class="form-group">
    <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
    <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">
  </div>

  <div class="form-group">
    <label for="buyin-input">Buy-In</label>
    <input type="text" name="buyIn" placeholder="Initial Fee" class="form-control">
  </div>

  <div class="form-group">
    <label for="blinds-input">Blinds</label>
    <input type="text" name="blinds" placeholder="small blind/big blind" class="form-control">
  </div>

  <div class="form-group">
      <label for="photo">Picture</label>
      <input type="file" name="photo" id="photo" class="form-control">
    </div>


  <input type="submit" name="" value="CREATE">
  <div id="map"></div>
</form>

</section>
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/script.js"></script>