<section class="main-menu">
  <h3>Total List {{user.username}}</h3>

  <div id="usersdiv">
    <ul id="userslist">
      {{#each players}}
      <li>{{this.username}}
        <button class="btn btn-info btn-xs">
          <a href="/player/myprofile/{{this._id}}">View detais</a>
        </button>
        <button class="btn btn-info btn-xs">
          <a href="/review/{{this._id}}">REVIEW</a>
        </button>
      </li>
      {{/each}}
    </ul>

  </div>

</section>